@font-face {
  font-family: "IranYekan" !important;
  src: url("/fonts/IranYekan/iranyekanwebregular.woff2") format("woff2"),
  url("/fonts/IranYekan/iranyekanwebregular.ttf") format("ttf"),
  url("/fonts/IranYekan/iranyekanwebregular.woff") format("woff");
}
*{
  font-family: "IranYekan" !important;
}