<template>
    <div>
        <v-container>
            <v-container>
                <v-row>
                    <vue-particles color="#dedede"
                                   :particleOpacity="0.7"
                                   :particlesNumber="80"
                                   shapeType="circle"
                                   :particleSize="4"
                                   linesColor="#dedede"
                                   :linesWidth="1"
                                   :lineLinked="true"
                                   :lineOpacity="0.4"
                                   :linesDistance="150"
                                   :moveSpeed="3"
                                   :hoverEffect="true"
                                   hoverMode="grab"
                                   :clickEffect="true"
                                   clickMode="push">
                    </vue-particles>
                    <v-col md="2" @scroll="fix" class="pa-0 hidden-md-and-up" cols="12">
                        <Info></Info>
                    </v-col>
                    <v-col class="green--text pa-0" md="6" cols="12" offset-md="2">
                        <about-me></about-me>
                        <v-divider class="ma-4"></v-divider>
                        <education></education>
                        <v-divider class="ma-4"></v-divider>
                        <languages></languages>
                        <v-divider class="ma-4"></v-divider>
                        <projects></projects>


                    </v-col>
                    <v-col md="2" @scroll="fix" class="pa-0 hidden-sm-and-down" cols="12">
                        <Info></Info>
                    </v-col>

                </v-row>

            </v-container>
        </v-container>
    </div>
</template>
<script>
    import AboutMe from '../components/AboutMe'
    import Education from '../components/Education'
    import Languages from '../components/Languages'
    import Projects from '../components/Projects'
    import Info from '../components/Info'


    export default {
        components: {
            AboutMe, Education, Languages, Projects, Info
        },
        methods: {
            fix() {
                window.addEventListener('scroll', function (evt) {

                    // This value is your scroll distance from the top
                    let distance_from_top = document.body.scrollTop;

                    // The user has scrolled to the tippy top of the page. Set appropriate style.
                    if (distance_from_top === 0) {
                        console.log('wa')
                    }

                    // The user has scrolled down the page.
                    if (distance_from_top > 0) {
                        console.log('wq')
                    }

                });
            }
        },
        created() {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
        data() {
            return {
                links: ['Home', 'Contacts', 'Settings'],
                mini: true,

            }
        }
    }
</script>
<style lang="scss">

    .noradius {
        border-radius: 0 !important;
    }

    .brdr100 {
        -webkit-border-radius: 100% !important;
        -moz-border-radius: 100% !important;
        border-radius: 100% !important;
    }

    .txt---grey {
        color: #eeebeb;
    }

    .border---grey {
        border: 3px solid rgba(50, 84, 116, 0.64);
    }

    ul li {
    }

    #particles-js {
        position: absolute;
        background-size: cover;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: hidden;
        z-index: 0;
    }

    .transparent {
        background-color: transparent !important;
    }


</style>