<template>
    <v-card height="" class="ma-0 noradius text-center white--text" color="#156d6da3" flat>
        <div class="pa-12">
            <v-card-subtitle class="text-right white--text display1">

                درباره من
                <v-icon class="display1">
                    mdi-account-search-outline
                </v-icon>
            </v-card-subtitle>
            <v-divider></v-divider>
            <p class="text-right pa-3 title1">
                از 15 سالگی با سی شارپ برنامه نویسی رو شروع کردم و در هنرستان به یادگیری برنامه
                نویسی وب بصورت خودآموز پرداختم. خیلی به کد نویسی تمیز و معماری نرم افزار علاقه مندم
                و هر روز زمانی
                رو به خوندن مقالات برنامه نویسی اختصاص میدم.
            </p>


            <v-divider></v-divider>
            <skills></skills>
        </div>
    </v-card>
</template>
<script>
    import Skills from './Skills'
    export default {
        components:{
            Skills
        }
    }
</script>