<template>
    <v-card flat color="#156d6da3" class="noradius pa-12 text-right">
        <div class="">

            <v-card-subtitle class="text-right">
                <p class="white--text display1">تحصیلات
                    <v-icon class="display1">
                        mdi-book-multiple
                    </v-icon>
                </p>
            </v-card-subtitle>
            <v-card-text class="white--text">
                <v-list-item>
                    <v-list-item-content>
                        <p class="white--text">
                            <v-icon>
                                mdi-chevron-left
                            </v-icon>
                            تحصیلات دیپلم در هنرستان فنی ماندگار ابوذر

                        </p>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item>
                    <v-list-item-content>

                        <p class="white--text">
                            <v-icon>
                                mdi-chevron-left
                            </v-icon>
                            تحصیلات سیکل در دبیرستان نمونه دولتی شهید شمس آبادی
                        </p>
                    </v-list-item-content>
                </v-list-item>

            </v-card-text>
        </div>
    </v-card>
</template>
<script>
    export default {}
</script>