<template>
    <v-card class="noradius white--text text-center transparent" flat>

        <div class="">
            <div class="pt-12">

                <v-img class="border---grey brdr100 mx-auto" max-height="200" max-width="200"
                       :src="require('../assets/imgs/body/matin.jpg')" rounded>
                </v-img>
            </div>

            <p class=" display1 my-3 black--text">متین نوروزی</p>
            <v-card-subtitle color="#e3e3e3">
                برنامه نویس سمت سرور
            </v-card-subtitle>
        </div>
        <v-divider></v-divider>

        <div class="mt-5">
            <h4 class="mb-3 black--text">
                اطلاعات تماس
            </h4>
            <v-divider width="50%" class="mx-auto"></v-divider>
            <v-list color="" outlined class="transparent">
                <v-list-item-group v-model="item" color="white" class="transparent">
                    <v-list-item @click="item.status = !item.status"
                                 v-for="(item, i) in items"
                                 class="transparent"
                                 :key="i"
                    >
                        <v-list-item-content class="transparent">
                            <v-list-item-title class="white--text text-center"><p
                                    class="grey--text transparent">{{item.title}} </p><span
                                    class="grey--text eng"
                                    v-if="item.status">{{item.content.toLocaleString('fa')}}</span>

                                <v-icon v-if="!item.status" class="grey--text">mdi-eye-outline
                                </v-icon>
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item

                    >
                        <v-list-item-content class="transparent">
                            <v-list-item-title class="white--text text-center">
                                <a href="https://gitlab.com/matinwd">
                                    <p class="grey--text transparent">
                                        گیت لب
                                        <v-icon>mdi-gitlab</v-icon>
                                    </p>
                                </a>
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content class="transparent">
                            <v-list-item-title class="white--text text-center transparent">
                                <a href="https://instagram.com/matin.noroozi.97">
                                    <p class="grey--text transparent">
                                        اینستاگرام
                                        <v-icon>mdi-instagram</v-icon>
                                    </p>
                                </a>
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
            <v-divider width="50%" class="mx-auto"></v-divider>

            <h4 class="my-3 black--text">
                اطلاعات شخصی
            </h4>
            <v-divider width="50%" class="mx-auto my-3"></v-divider>

            <div class="grey--text">
                <p class="">سال تولد: <span>{{ info.birthDay.toLocaleString('fa').replace(',',' ') }}</span></p>
                <p>جنسیت: مرد</p>
                <p>وضعیت تاهل: مجرد</p>
                <p>سن :{{ info.age.toLocaleString('fa')}}</p>
                <p> استان محل سکونت: اصفهان </p>
            </div>

        </div>

    </v-card>
</template>
<script>
    var age = new Date();
    age.getFullYear();
    export default {
        data() {
            return {
                items: [
                    {title: 'شماره تلفن', 'content': '+9831453513', 'status': false, icon: 'mdi-phone'},
                    {title: 'ایمیل', 'content': '100ztaa@gmail.com', 'status': false, icon: 'mdi-email-outline'},
                ],
                info: {
                    'birthDay': 80,
                    'age': new Date().getFullYear() - 2001

                }
            }
        }
    }
</script>