<template>
    <v-card flat color="#156d6da3" class="noradius">

        <div class="pa-12 text-right">
            <v-card-subtitle class="white--text display1">
                زبان ها
                <v-icon>mdi-translate</v-icon>

            </v-card-subtitle>
            <v-card-text>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="white--text">فارسی</v-list-item-title>
                        <v-list-item-subtitle>
                            مادری
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="white--text">انگلیسی</v-list-item-title>
                        <v-list-item-subtitle>
                            کار راه انداز
                        </v-list-item-subtitle>
                    </v-list-item-content>
                </v-list-item>

            </v-card-text>

        </div>
    </v-card>
</template>
<script>
    export default {}
</script>