<template>
    <v-card flat color="#156d6da3" class="noradius text-right white--text">
        <div class="pa-12">
            <v-card-subtitle class="display1 white--text">
                پروژه ها
                <v-icon>mdi-web</v-icon>

            </v-card-subtitle>
            <v-card-text>
                <v-list-item>
                    <v-list-item-content class="white--text">
                        <p class="display1">
                            <a href="https://gitlab.com/Matinwd/laravelvideo">لاراویدئو</a>
                        </p>
                        <v-divider class="ma-4"></v-divider>
                        <p>
                            <a href="https://gitlab.com/Matinwd/laravelvideo">
                                سرویس اشتراک گذاری ویدئو
                            </a>
                        </p>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item>
                    <v-list-item-content class="white--text">
                        <p class="display1 txt---grey">
                            <a href="https://gitlab.com/Matinwd/migrationexperiences">تجربه
                                مهاجرت</a>
                        </p>
                        <v-divider class="ma-4"></v-divider>
                        <p>
                            <a href="https://gitlab.com/Matinwd/migrationexperiences">تجربه مهاجرت
                                خود
                                را با دیگران به اشتراک بگذارید
                            </a>
                        </p>
                    </v-list-item-content>
                </v-list-item>

            </v-card-text>
        </div>

    </v-card>
</template>
<script>
    export default {}
</script>