<template>

    <div>
        <v-card-subtitle class="display1 white--text text-right">
            مهارت ها
            <v-icon class="display1">
                mdi-briefcase-outline
            </v-icon>
        </v-card-subtitle>
        <v-list-item class="white--text">
            <v-list-item-content>
                <v-list-item-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-language-php</v-icon>
                    PHP
                </v-list-item-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="87"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>

        <v-list-item>
            <v-list-item-content>
                <v-list-item-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-laravel</v-icon>
                    Laravel
                </v-list-item-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="80"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>

        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">
                        mdi-vuejs
                    </v-icon>
                    VueJS
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="60"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">
                        mdi-vuetify
                    </v-icon>
                    Vuetify
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="75"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>

        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-database</v-icon>
                    Mysql
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="70"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-git</v-icon>
                    git
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="55"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-api</v-icon>
                    rest api
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="80"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-database</v-icon>
                    Redis
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="50"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-language-html5</v-icon>
                    HTML 5
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="84"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-language-css3</v-icon>
                    CSS 3
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="84"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
        <v-list-item>
            <v-list-item-content>
                <v-list-title class="white--text eng">
                    <v-icon class="white--text mx-1">mdi-linux</v-icon>
                    linux
                </v-list-title>
                <v-progress-linear
                        color="white lighten-2"
                        buffer-value="45"
                        stream
                ></v-progress-linear>
            </v-list-item-content>
        </v-list-item>
    </div>
</template>