<template>
    <v-app>
        <router-view></router-view>
    </v-app>
</template>

<script>

    export default {
        name: 'App',

        components: {},

        data: () => ({
            //
        }),
    };
</script>

<style lang="scss">
    @font-face {
        font-family: "IranYekan";
        src: url("~@/assets/fonts/IranYekan/iranyekanwebregular.woff2") format("woff2"),
        url("~@/assets/fonts/IranYekan/iranyekanwebregular.ttf") format("ttf"),
        url("~@/assets/fonts/IranYekan/iranyekanwebregular.woff") format("woff");
    }


    * {
        font-family: 'IranYekan',;

    }

    a {
        color: #fff !important;
        text-decoration: none;
    }

    .eng {
        font-family: Roboto;
    }


    $body-font-family: 'IranYekan', Roboto !default;

    .display1 {
        font-family: 'IranYekan';
        font-size: 2.125rem !important;
        line-height: 2.5rem;
        letter-spacing: .0073529412em !important;
    }

    .title1 {
        font-family: 'IranYekan';
        font-size: 1.25rem !important;
        font-weight: 500;
        letter-spacing: .0125em !important;
    }


</style>